@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./navbar.css";
@import "./modal.css";
@import "./page-layout.css";
@import "./event-page.css";
@import "./home.css";
@import "./venue.css";
@import "./schedule.css";
@import "./sponsors.css";
@import "./faq.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-size: 7.5dvh;
  --blue: rgb(187, 216, 245);
  --blue1: rgb(163, 206, 250);
  --blue2: rgb(115, 180, 247);
  --blue3: rgb(125, 145, 189);
  --blue4: rgb(93, 114, 161);
  --blue5: rgb(68, 88, 136);
  --blue6: rgb(40, 57, 99);
  --blue7: rgb(22, 35, 68);
  --grey: rgb(248, 252, 255);
  --grey1: rgb(228, 228, 228);
  --grey2: rgb(209, 209, 209);
  --grey3: rgb(59, 59, 59);
  --background-height: 50dvh;
  font-family: "Alata";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Alata";
}

p {
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
  font-size: 0.75em;
}

html,
body {
  overflow-x: hidden;
}

section {
  margin-block-start: var(--header-size);
}

.close-button {
  background: var(--blue5);
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
}

.close-button:hover {
  background: var(--blue6);
}

.logo {
  height: 100%;
  aspect-ratio: 1/1;
}

.scrc-logo-black {
  background: url("/logos/scrc-logo-black.svg") no-repeat;
  background-size: contain;
}

.scrc-logo-white {
  background: url("/logos/scrc-logo-white.svg") no-repeat;
  background-size: contain;
}

.scrc-logo-blue {
  background: url("/logos/scrc-logo-blue.svg") no-repeat;
  background-size: contain;
}

.header-offset {
  height: var(--header-size);
  width: 100%;
}

.hide-overlay {
  display: none;
}

.flex-overlay {
  display: flex;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.button-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.link-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-block: 2rem;
}

.close-button {
  display: block;
}

.social-icon {
  width: 60px;
  height: 60px;
}

.instagram-icon {
  background-repeat: no-repeat;
  background-image: url("/icons/social-media/circle/instagram-200.svg");
  background-size: contain;
  background-position: center;
}

.gmail-icon {
  background-repeat: no-repeat;
  background-image: url("/icons/social-media/circle/gmail-200.svg");
  background-size: contain;
  background-position: center;
}

.linkedin-icon {
  background-repeat: no-repeat;
  background-image: url("/icons/social-media/circle/linkedin-200.svg");
  background-size: contain;
  background-position: center;
}

.linktree-icon {
  background-repeat: no-repeat;
  background-image: url("/icons/social-media/circle/linktree-200.svg");
  background-size: contain;
  background-position: center;
}

p a {
  color: var(--blue5);
  text-decoration: underline;
}

p a:hover {
  color: var(--grey3);
}

p a:active {
  color: var(--grey2);
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container div {
  width: 100%;
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  :root {
    --background-height: 40dvh;
  }

  .social-icon {
    width: 85px;
    height: 85px;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .social-icon {
    width: 100px;
    height: 100px;
  }

  .image-container {
    flex-direction: row;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 1921px) {
  /* hi-res desktops */
}
