.cloud-background {
  position: absolute;
  top: 0;
  z-index: -1;
}

.cloud {
  position: absolute;
  opacity: 0;
}

.sm-cloud {
  width: 85px;
  height: 43px;
}

.md-cloud {
  width: 170px;
  height: 86px;
}

.lg-cloud {
  width: 170px;
  height: 86px;
}

.cloud0 {
  background: url("/clouds/cloud17.svg") no-repeat;
  opacity: 0;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 15s;
}

.cloud1 {
  background: url("/clouds/cloud1.svg") no-repeat;
  background-size: contain;
  margin-top: 16dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 0s;
}

.cloud2 {
  background: url("/clouds/cloud2.svg") no-repeat;
  background-size: contain;
  margin-top: 43dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 30s;
}

.cloud3 {
  background: url("/clouds/cloud3.svg") no-repeat;
  background-size: contain;
  margin-top: 58dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 45s;
}

.cloud4 {
  background: url("/clouds/cloud4.svg") no-repeat;
  background-size: contain;
  margin-top: 81dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 20s;
}

.cloud5 {
  background: url("/clouds/cloud5.svg") no-repeat;
  background-size: contain;
  margin-top: 109dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 40s;
}

.cloud6 {
  background: url("/clouds/cloud6.svg") no-repeat;
  background-size: contain;
  margin-top: 121dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 30s;
}

.cloud7 {
  background: url("/clouds/cloud7.svg") no-repeat;
  background-size: contain;
  margin-top: 137dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 0s;
}

.cloud8 {
  background: url("/clouds/cloud8.svg") no-repeat;
  background-size: contain;
  margin-top: 164dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 20s;
}

.cloud9 {
  background: url("/clouds/cloud9.svg") no-repeat;
  background-size: contain;
  margin-top: 178dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 45s;
}

.cloud10 {
  background: url("/clouds/cloud10.svg") no-repeat;
  background-size: contain;
  margin-top: 198dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 15s;
}

.cloud11 {
  background: url("/clouds/cloud11.svg") no-repeat;
  background-size: contain;
  margin-top: 225dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 45s;
}

.cloud12 {
  background: url("/clouds/cloud12.svg") no-repeat;
  background-size: contain;
  margin-top: 236dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 0s;
}

.cloud13 {
  background: url("/clouds/cloud13.svg") no-repeat;
  background-size: contain;
  margin-top: 261dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 30s;
}

.cloud14 {
  background: url("/clouds/cloud14.svg") no-repeat;
  background-size: contain;
  margin-top: 283dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 10s;
}

.cloud15 {
  background: url("/clouds/cloud15.svg") no-repeat;
  background-size: contain;
  margin-top: 304dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 45s;
}

.cloud16 {
  background: url("/clouds/cloud16.svg") no-repeat;
  background-size: contain;
  margin-top: 319dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 15s;
}

.cloud17 {
  background: url("/clouds/cloud17.svg") no-repeat;
  background-size: contain;
  margin-top: 340dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 0s;
}

.cloud18 {
  background: url("/clouds/cloud18.svg") no-repeat;
  background-size: contain;
  margin-top: 362dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 35s;
}

.cloud19 {
  background: url("/clouds/cloud19.svg") no-repeat;
  background-size: contain;
  margin-top: 380dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 30s;
}

.cloud20 {
  background: url("/clouds/cloud20.svg") no-repeat;
  background-size: contain;
  margin-top: 404dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 10s;
}

.cloud21 {
  background: url("/clouds/cloud21.svg") no-repeat;
  background-size: contain;
  margin-top: 418dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 30s;
}

.cloud22 {
  background: url("/clouds/cloud22.svg") no-repeat;
  background-size: contain;
  margin-top: 434dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 0s;
}

.cloud23 {
  background: url("/clouds/cloud23.svg") no-repeat;
  background-size: contain;
  margin-top: 469dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 45s;
}

.cloud24 {
  background: url("/clouds/cloud24.svg") no-repeat;
  background-size: contain;
  margin-top: 481dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 15s;
}

.cloud25 {
  background: url("/clouds/cloud25.svg") no-repeat;
  background-size: contain;
  margin-top: 500dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 0s;
}

.cloud26 {
  background: url("/clouds/cloud26.svg") no-repeat;
  background-size: contain;
  margin-top: 523dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 50s;
}

.cloud27 {
  background: url("/clouds/cloud27.svg") no-repeat;
  background-size: contain;
  margin-top: 548dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 30s;
}

.cloud28 {
  background: url("/clouds/cloud28.svg") no-repeat;
  background-size: contain;
  margin-top: 560dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 15s;
}

.cloud29 {
  background: url("/clouds/cloud29.svg") no-repeat;
  background-size: contain;
  margin-top: 582dvh;
  animation: cloud-animation1 60s linear infinite;
  animation-delay: 45s;
}

.cloud30 {
  background: url("/clouds/cloud30.svg") no-repeat;
  background-size: contain;
  margin-top: 10dvh;
  animation: cloud-animation2 80s linear infinite;
  animation-delay: 25s;
}

.cloud31 {
  background: url("/clouds/cloud31.svg") no-repeat;
  background-size: contain;
  margin-top: 30dvh;
  animation: cloud-animation2 40s linear infinite;
  animation-delay: 45s;
}

.cloud32 {
  background: url("/clouds/cloud9.svg") no-repeat;
  background-size: contain;
  margin-top: 50dvh;
  animation: cloud-animation2 90s linear infinite;
  animation-delay: 0s;
}

.cloud33 {
  background: url("/clouds/cloud15.svg") no-repeat;
  background-size: contain;
  margin-top: 70dvh;
  animation: cloud-animation2 70s linear infinite;
  animation-delay: 15s;
}

.cloud34 {
  background: url("/clouds/cloud21.svg") no-repeat;
  background-size: contain;
  margin-top: 680dvh;
  animation: cloud-animation2 60s linear infinite;
  animation-delay: 30s;
}

.cloud35 {
  background: url("/clouds/cloud5.svg") no-repeat;
  background-size: contain;
  margin-top: 695dvh;
  animation: cloud-animation2 60s linear infinite;
  animation-delay: 55s;
}

.cloud36 {
  background: url("/clouds/cloud13.svg") no-repeat;
  background-size: contain;
  margin-top: 695dvh;
  animation: cloud-animation2 60s linear infinite;
  animation-delay: 55s;
}

.cloud37 {
  background: url("/clouds/cloud18.svg") no-repeat;
  background-size: contain;
  margin-top: 695dvh;
  animation: cloud-animation2 60s linear infinite;
  animation-delay: 55s;
}

.initial-cloud0 {
  background: url("/clouds/cloud17.svg") no-repeat;
  background-size: contain;
  margin-top: 5dvh;
  margin-left: 49dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud1 {
  background: url("/clouds/cloud1.svg") no-repeat;
  background-size: contain;
  margin-top: 19dvh;
  margin-left: 32dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud2 {
  background: url("/clouds/cloud2.svg") no-repeat;
  background-size: contain;
  margin-top: 40dvh;
  margin-left: 18dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud3 {
  background: url("/clouds/cloud3.svg") no-repeat;
  background-size: contain;
  margin-top: 56dvh;
  margin-left: 78dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud4 {
  background: url("/clouds/cloud4.svg") no-repeat;
  background-size: contain;
  margin-top: 78dvh;
  margin-left: 57dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud5 {
  background: url("/clouds/cloud5.svg") no-repeat;
  background-size: contain;
  margin-top: 111dvh;
  margin-left: 70dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud6 {
  background: url("/clouds/cloud6.svg") no-repeat;
  background-size: contain;
  margin-top: 121dvh;
  margin-left: 28dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud7 {
  background: url("/clouds/cloud7.svg") no-repeat;
  background-size: contain;
  margin-top: 137dvh;
  margin-left: 49dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud8 {
  background: url("/clouds/cloud8.svg") no-repeat;
  background-size: contain;
  margin-top: 164dvh;
  margin-left: 10dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud9 {
  background: url("/clouds/cloud9.svg") no-repeat;
  background-size: contain;
  margin-top: 178dvh;
  margin-left: 63dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud10 {
  background: url("/clouds/cloud10.svg") no-repeat;
  background-size: contain;
  margin-top: 198dvh;
  margin-left: 42dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud11 {
  background: url("/clouds/cloud11.svg") no-repeat;
  background-size: contain;
  margin-top: 225dvh;
  margin-left: 73dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud12 {
  background: url("/clouds/cloud12.svg") no-repeat;
  background-size: contain;
  margin-top: 236dvh;
  margin-left: 56dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud13 {
  background: url("/clouds/cloud13.svg") no-repeat;
  background-size: contain;
  margin-top: 261dvh;
  margin-left: 15dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud14 {
  background: url("/clouds/cloud14.svg") no-repeat;
  background-size: contain;
  margin-top: 283dvh;
  margin-left: 34dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud15 {
  background: url("/clouds/cloud15.svg") no-repeat;
  background-size: contain;
  margin-top: 304dvh;
  margin-left: 10dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud16 {
  background: url("/clouds/cloud16.svg") no-repeat;
  background-size: contain;
  margin-top: 319dvh;
  margin-left: 53dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud17 {
  background: url("/clouds/cloud17.svg") no-repeat;
  background-size: contain;
  margin-top: 340dvh;
  margin-left: 45dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud18 {
  background: url("/clouds/cloud18.svg") no-repeat;
  background-size: contain;
  margin-top: 362dvh;
  margin-left: 76dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud19 {
  background: url("/clouds/cloud19.svg") no-repeat;
  background-size: contain;
  margin-top: 380dvh;
  margin-left: 31dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud20 {
  background: url("/clouds/cloud20.svg") no-repeat;
  background-size: contain;
  margin-top: 404dvh;
  margin-left: 48dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud21 {
  background: url("/clouds/cloud21.svg") no-repeat;
  background-size: contain;
  margin-top: 418dvh;
  margin-left: 14dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud22 {
  background: url("/clouds/cloud22.svg") no-repeat;
  background-size: contain;
  margin-top: 434dvh;
  margin-left: 62dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud23 {
  background: url("/clouds/cloud23.svg") no-repeat;
  background-size: contain;
  margin-top: 469dvh;
  margin-left: 81dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud24 {
  background: url("/clouds/cloud24.svg") no-repeat;
  background-size: contain;
  margin-top: 481dvh;
  margin-left: 32dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud25 {
  background: url("/clouds/cloud25.svg") no-repeat;
  background-size: contain;
  margin-top: 500dvh;
  margin-left: 56dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud26 {
  background: url("/clouds/cloud26.svg") no-repeat;
  background-size: contain;
  margin-top: 523dvh;
  margin-left: 17dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud27 {
  background: url("/clouds/cloud27.svg") no-repeat;
  background-size: contain;
  margin-top: 548dvh;
  margin-left: 44dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud28 {
  background: url("/clouds/cloud28.svg") no-repeat;
  background-size: contain;
  margin-top: 560dvh;
  margin-left: 67dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud29 {
  background: url("/clouds/cloud29.svg") no-repeat;
  background-size: contain;
  margin-top: 582dvh;
  margin-left: 28dvw;
  animation: cloud-animation1 60s linear 1 forwards;
}

.initial-cloud30 {
  background: url("/clouds/cloud30.svg") no-repeat;
  background-size: contain;
  margin-top: 20dvh;
  margin-left: 67dvw;
  animation: cloud-animation2 90s linear 1 forwards;
}

.initial-cloud31 {
  background: url("/clouds/cloud31.svg") no-repeat;
  background-size: contain;
  margin-top: 40dvh;
  margin-left: 17dvw;
  animation: cloud-animation2 70s linear 1 forwards;
}

.initial-cloud32 {
  background: url("/clouds/cloud9.svg") no-repeat;
  background-size: contain;
  margin-top: 60dvh;
  margin-left: 28dvw;
  animation: cloud-animation2 40s linear 1 forwards;
}

.initial-cloud33 {
  background: url("/clouds/cloud15.svg") no-repeat;
  background-size: contain;
  margin-top: 80dvh;
  margin-left: 81dvw;
  animation: cloud-animation2 80s linear 1 forwards;
}

.initial-cloud34 {
  background: url("/clouds/cloud21.svg") no-repeat;
  background-size: contain;
  margin-top: 680dvh;
  animation: cloud-animation2 60s linear 1 forwards;
}

.initial-cloud35 {
  background: url("/clouds/cloud5.svg") no-repeat;
  background-size: contain;
  margin-top: 695dvh;
  animation: cloud-animation2 60s linear 1 forwards;
}

.initial-cloud36 {
  background: url("/clouds/cloud13.svg") no-repeat;
  background-size: contain;
  margin-top: 695dvh;
  animation: cloud-animation2 60s linear 1 forwards;
}

.initial-cloud37 {
  background: url("/clouds/cloud18.svg") no-repeat;
  background-size: contain;
  margin-top: 695dvh;
  animation: cloud-animation2 60s linear 1 forwards;
}

@keyframes cloud-animation1 {
  from {
    transform: translateX(-100%);
    opacity: 0.6;
  }
  to {
    transform: translateX(100dvw);
    opacity: 0.6;
  }
}

@keyframes cloud-animation2 {
  from {
    transform: translateX(-100%);
    opacity: 0.6;
  }
  to {
    transform: translateX(100dvw);
    opacity: 0.6;
  }
}
