#faq-background {
  background-repeat: no-repeat;
  background-image: url("/images/campus-outdoors.jpg");
  background-size: cover;
  background-position: center;
  height: var(--background-height);
}

.registration-table .benefits {
  display: none;
}

#faq-content h1 {
  font-size: 2.5rem;
  margin-block-end: 1rem;
}

#faq-content h2 {
  margin-block-end: 0.5rem;
}

#faq-content p + p {
  margin-block-start: 5rem;
}

#faq-content .content-container > div {
  margin-block-end: 2rem;
}

#faq-content .content-container:nth-child(even) {
  background-color: var(--grey)
}

#faq-content .content-container:nth-child(odd) {
  background-color: var(--blue6);
  color: white;
}

#faq-content .content-container:nth-child(odd) p a {
  color: var(--blue);
}

#faq-content .content-container:nth-child(odd) p a:hover {
  color: var(--blue2);
}

#faq-content .content-container:nth-child(odd) p a:active {
  color: var(--grey2);
}

#faq-scrc-intro p {
  text-align: center;
}

@media (min-width: 360px) {
  /* larger phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .registration-table .benefits {
    display: table-cell;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 1921px) {
  /* hi-res desktops */
}
