#guide-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  background-color: rgb(var(--blue-guide));
}

#guide-header {
  flex: 0 1 auto;
}

#guide-header h1 {
  font-size: 5rem;
}

#guide-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 auto;
}

#guide-menu button {
  flex: 1 1 auto;
  width: 100dvw;
  text-align: center;
  font-size: 2.5rem;
  padding-block: 1rem;
}

#guide-menu button:hover {
  background-color: rgb(var(--grey1));
}

#guide-menu button:active {
  background-color: rgb(var(--grey2));
}

.guide-page {
  position: absolute;
  top: 0;
  background-color: rgb(var(--blue-guide));
  z-index: 102;
  min-height: 100dvh;
  width: 100%;
}

.guide-page button:hover {
  background-color: rgb(var(--grey1));
}

.guide-page button:active {
  background-color: rgb(var(--grey2));
}

.guide-page button {
  font-size: 2.5rem;
  padding: 2rem;
  width: 100dvw;
  text-align: center;
}

.guide-page h1 {
  font-family: "League Spartan", "Montserrat";
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
  color: rgb(var(--blue5));
  margin-inline: auto;
}

.event-header {
  font-size: 3.5rem;
  font-family: "Handy Casual";
  text-align: center;
  border-radius: 0.5rem;
  background-color: rgb(var(--blue5));
  margin-inline: 5%;
  color: white;
}

.event-card {
  display: flex;
  flex-direction: row;
}

.event-card h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Handy Casual";
}

.event-card h4 {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Handy Casual";
}

.event-card > div {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-block: 0.25rem;
  margin-block: 1rem;
  margin-inline: 0.5rem;
}

.event-card .event-time {
  flex: 2;
  background-color: rgb(var(--blue5));
  color: white;
}

.event-card .event-label {
  flex: 3;
  background-color: rgb(var(--blue));
  color: rgb(var(--blue5));
}

@media (min-width: 360px) {
  /* larger phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 1921px) {
  /* hi-res desktops */
}
