/* smartphones, iPhone, portrait 480x320 phones */
section#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  user-select: none;
}

.title-button-container {
  position: relative;
  top: -5%;
}

.splash-title h1 {
  line-height: 1em;
}

.sase-title {
  font-size: 5.5em;
  margin-block-end: 0.05em;
}

.sc-title {
  font-size: 3.375em;
}

.rc-title {
  font-size: 3.375em;
  margin-block-end: 0.3em;
}

.at-title {
  font-size: 2;
  margin-inline-start: 0.5em;
}

.registration-link:hover {
  background-color: var(--blue2);
}

.title-left {
  float: left;
  width: 50%;
  position: relative;
}

.splash-title {
  position: relative;
  left: 20%;
}

.title-right {
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}

.bottom-page-half {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-page-half {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-link {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 2.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 1em;
  transition: border 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.reg-button {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-25%, -50%);
}

.landing-date {
  position: relative;
  left: 50%;
  top: 40%;
  transform: translate(-14%, -50%);
}

.landing-date > h2 {
  font-size: 1.5em;
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 1921px) {
  /* hi-res desktops */
  .sase-title {
    font-size: 9em;
  }

  .sc-title {
    font-size: 5em;
  }

  .rc-title {
    font-size: 5em;
  }
}
