/* smartphones, iPhone, portrait 480x320 phones */
.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100dvw;
  height: var(--header-size);
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px outset var(--blue1);
  backdrop-filter: blur(3px);
  user-select: none;
}

.name-header {
  float: left;
  color: black;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 2em;
  font-weight: 700;
  padding: 0 1rem;
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.name-header:hover {
  color: var(--blue3);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  float: right;
  margin-right: 1rem;
}

.navbar-link {
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.navbar-link:hover {
  color: var(--blue3);
}

.nav-return-top.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  right: 0;
  z-index: 3;
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 1921px) {
  /* hi-res desktops */
}
