#sponsors-background {
  background-repeat: no-repeat;
  background-image: url("/images/tamu-skyline.jpg");
  background-size: cover;
  background-position: center;
  height: var(--background-height);
}

#sponsor-container .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.shell-logo {
  background: url("/logos/shell-logo.svg") no-repeat;
  background-size: contain;
  background-position: center;
  height: 75px;
  aspect-ratio: 4/1;
  margin-block: 1rem;
}

.accma-logo {
  background: url("/logos/accma-logo.svg") no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  aspect-ratio: 1/1;
  margin-block: 1rem;
}

@media (min-width: 360px) {
  /* larger phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .shell-logo {
    height: 100px;
  }

  .accma-logo {
    height: 250px;
  }
  
  #more-sponsors-header {
    margin-block-start: 4rem;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 1921px) {
  /* hi-res desktops */
}
