#venue-background {
  background-repeat: no-repeat;
  background-image: url("/images/msc-front.jpg");
  background-size: cover;
  background-position: center;
  --background-height: 40dvh;
  height: var(--background-height);
}

#venue-summary-container {
  display: flex;
  flex-direction: column;
  margin-inline: 6rem;
}

#venue-summary-container h2 {
  font-size: 1.5rem;
  margin-block-end: 2rem;
}

h2#venue-address {
  margin-block-end: 0;
}

#venue-quick-view {
  flex: 1;
  margin-inline-end: 1rem;
  position: relative;
}

#venue-information {
  flex: 2;
  margin-inline-start: 1rem;
}

#venue-title {
  font-weight: 600;
}

#venue-image {
  background-repeat: no-repeat;
  background-image: url("/images/msc.jpg");
  background-size: contain;
  aspect-ratio: 1.5/1;
  margin-block-end: 2rem;
}

#venue-page-map {
  height: unset;
  aspect-ratio: 1/1;
}

@media (min-width: 360px) {
  /* larger phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  #venue-summary-container {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 1921px) {
  /* hi-res desktops */
}
