#venue-background {
  background-repeat: no-repeat;
  background-image: url("/images/msc-front.jpg");
  background-size: cover;
  background-position: center;
  height: var(--background-height);
}

#venue-summary-container {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
}

h2#venue-address {
  margin-block-end: 0;
}

#venue-quick-view {
  flex: 1;
  position: relative;
  margin-block-end: 2rem;
}

#venue-quick-view h2 {
  font-size: 1.6rem;
  margin-block-end: 2rem;
}

#venue-information {
  flex: 2;
}

#venue-title {
  font-weight: 600;
}

#venue-image {
  background-repeat: no-repeat;
  background-image: url("/images/msc.jpg");
  background-size: contain;
  aspect-ratio: 1.5/1;
  margin-block-end: 2rem;
}

#venue-page-map {
  height: unset;
  aspect-ratio: 1/1;
}

#venue-information h2 {
  font-size: 1.6rem;
  color: var(--blue5);
  margin-block-end: 1rem;
}

#venue-information h3 {
  font-size: 1.4rem;
  margin-block-start: 1.5rem;
  margin-block-end: 0.85rem;
}

#venue-information p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-block-end: 0.75rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Montserrat";
}

tr {
  border: 1px solid #dddddd;
}

td,
th {
  text-align: left;
  padding: 8px;
  font-weight: 500;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.info-list {
  font-size: 1.2rem;
  list-style-type: disc;
  list-style-position: inside;
  font-family: "Montserrat";
}

#venue-resources h1 {
  margin-block-end: 1rem;
}

#venue-resources h2 {
  margin-block-end: 0.5rem;
  font-size: 2rem;
  color: var(--blue7);
  text-align: center;
}

.resource-section {
  margin-block-start: 0;
  padding-block-start: var(--header-size);
}

#msc-floor1 {
  background-repeat: no-repeat;
  background-image: url("/maps/msc-floor1.svg");
  background-size: contain;
  background-position: center;
  height: 85vw;
}

#msc-floor2 {
  background-repeat: no-repeat;
  background-image: url("/maps/msc-floor2.svg");
  background-size: contain;
  background-position: center;
  height: 75vw;
}

#msc-parking {
  background-repeat: no-repeat;
  background-image: url("/maps/msc-parking.svg");
  background-size: contain;
  background-position: center;
  height: 95vw;
}

#hotel-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hotel-info-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block-end: 2rem;
}

#hotel-info-container .hotel-info-card > h2 {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  margin-block-end: 0;
}

#hotel-info-container .hotel-info-card > p {
  font-size: 1.4rem;
}

#hotel-info-container a {
  text-decoration: none;
}

@media (min-width: 361px) {
  /* larger phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  #venue-summary-container {
    flex-direction: row;
  }

  #venue-quick-view {
    margin-inline-end: 1rem;
    margin-block-end: 0;
  }

  #venue-information {
    margin-inline-start: 1rem;
  }

  #venue-resources {
    margin: auto;
    width: 95%;
  }

  #venue-resources .image-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 55vh;
  }

  #msc-floor1 {
    width: 100%;
    height: 60vh;
  }

  #msc-floor2 {
    width: 100%;
    height: 60vh;
  }

  #msc-parking {
    height: 95vw;
  }

  #hotel-info-container {
    flex-direction: row;
  }

  .hotel-info-card {
    padding-inline: 1rem;
    margin-block-end: 0;
  }
}
@media (min-width: 1024px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media (min-width: 1921px) {
  /* hi-res desktops */
  #venue-information h2 {
    font-size: 2rem;
  }

  #venue-information h3 {
    font-size: 1.8rem;
  }

  #venue-information p {
    font-size: 1.6rem;
    font-weight: 500;
  }

  table {
    font-size: 1.6rem;
  }

  .info-list {
    font-size: 1.6rem;
  }

  #hotel-info-container .hotel-info-card > h2 {
    font-size: 1.6rem;
  }

  #hotel-info-container .hotel-info-card > p {
    font-size: 1.6rem;
  }
}
